body {margin: 20px;
  background-image: url(clouds.jpeg);
  background-size: cover;
  background-position: center;
  background-color: #ADD8E6;
  background-repeat: repeat-x;
  color:
   #FF5349;

}

.parent-container {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.child-one {
  min-height: 100px;
  align-items: flex-start;

}

label {
  font-size: large;
}

.btn {
  min-width: 80px;

}

.child-two {
    min-height: 100px;
}
